<a-entity id="scene-modern" visible="false">
    <a-sky src="https://linx.yunkyu.com/selif/uodj4o21.jpg"></a-sky>
    <a-plane
      src="#dirt"
      position="0 0 -11"
      rotation="-90 0 0"
      width="50"
      height="200"
      repeat="20 80"
    ></a-plane>
  </a-entity>
  