<a-entity id="scene-welcome" visible="true">
  <a-sky radius="150" color="#000000"></a-sky>
  <a-entity
    text="value: Gwanghwamun: A Virtual Experience; align: center; width: 5;"
    position="0 1.5 -1.7"
  ></a-entity> 
  <a-entity
    scene-deleter="tgt: welcome;"
    visible="true"
    template="src: #link"
    data-thumb="#thumb-1"
    data-from="welcome"
    data-to="earth"
    rotation="330 0 0"
    position="0 0.866 -1.412"
  ></a-entity>
</a-entity>
