<a-entity id="scene-japan2" visible="false">
  <a-sky color="#000000"></a-sky>
  <a-plane
    visible="false"
    src="https://linx.yunkyu.com/selif/vja3t5i5.png"
    scene-changer="from: japan2; to: modern"
    scene-deleter="tgt: japan2;"
    scale="4 0.55 8"
    position="0 0.5 -4"
  ></a-plane>
  <a-plane
    material="shader: flat; src: https://linx.yunkyu.com/selif/z620v7kr.png"
    position="0 3 -4"
    width="5"
    height="3"
  ></a-plane>
</a-entity>
