<a-entity id="scene-korea" visible="false">
  <a-sky radius="150" color="#000000"></a-sky>
  <a-plane
    material="shader: flat; src: https://linx.yunkyu.com/selif/1xc7roxi.png"
    visible="false"
    scene-changer="from: korea; to: seoul"
    scene-deleter="tgt: korea;"
    position="0 1.5 -5"
    width="7"
    height="5"
  ></a-plane>
</a-entity>
