<a-entity id="scene-seoul" visible="false">
  <a-sky radius="150" color="#000000"></a-sky>
  <a-plane
    material="shader: flat; src: https://linx.yunkyu.com/selif/mpz5yfsj.png"
    scene-changer="from: seoul; to: joseon"
    scene-deleter="tgt: seoul;"
    position="0 1.5 -3"
    width="7"
    height="5"
  ></a-plane>
</a-entity>
  