<a-entity id="scene-location" visible="false">
  <a-sky radius="150" color="#000000"></a-sky>
  <a-sphere 
    src="https://raw.githubusercontent.com/aframevr/sample-assets/master/assets/images/space/earth_atmos_4096.jpg"
    radius="2"
    segments-height="53"
    position="0 0 -4"
    rotation="-20 140 16"
    scene-changer="from: location; to: location"
  ></a-sphere>
</a-entity>

