<a-entity id="scene-welcome" visible="true">
  <a-sky radius="150" color="#000000"></a-sky>
  <a-entity
    text="value: Gwanghwamun: A Virtual Experience; align: center; width: 5;"
    position="0 1.5 -1.7"
  ></a-entity> 

  <a-plane
    scene-deleter="tgt: welcome;"
    visible="true"
    src="https://linx.yunkyu.com/selif/p0rpmhk0.png"
    scene-changer="from: welcome; to: earth"
    position="0 0.9 -1.4"
    scale="1.2 0.6 1"
    rotation="-20 0 0"
  ></a-plane>

  <a-entity
    text="value: To click, hold your cursor still for a second.; align: center; width: 2;"
    position="0 1.8 -1.7"
  ></a-entity>

</a-entity>
