<a-entity id="scene-modern" visible="false">
    <a-sky src="https://linx.yunkyu.com/selif/uodj4o21.jpg"></a-sky>
    <a-plane
      src="#dirt"
      position="0 0 -11"
      rotation="-90 0 0"
      width="50"
      height="200"
      repeat="20 80"
    ></a-plane>
  </a-entity>
  <a-plane
    visible="false"
    src="https://linx.yunkyu.com/selif/lyoysi1g.png"
    scene-changer="from: joseon; to: joseon2"
    scene-deleter="tgt: joseon;"
    scale="4 0.65 8"
    position="0 1.3 -2"
  ></a-plane>  
  