<a-entity id="scene-modern" visible="false">
    <a-sky src="https://linx.yunkyu.com/selif/uodj4o21.jpg"></a-sky>
    <a-plane
    visible="false"
    src="https://linx.yunkyu.com/selif/ehb86mx7.png"
    scale="4 0.7 8"
    position="0 1.5 -4"
  ></a-plane>
  </a-entity>
  